body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color: #464646;
}

header {
    width: 100%;
    height: 80px;
    /* box-shadow: 0px 20px 50px -20px #000000; */
    background-color: white;
}

header img {
    height: 80px;
    margin-left: 40px;
}

header a {
    position: absolute;
    top: 32px;
    right: 40px;
    text-decoration: none;
    color: blue;
}

header a:nth-child(2) {
    right: 140px;
}

.landing {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero {
    width: 500px;
}

.downloads {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.downloads button {
    width: 220px;
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
}

.downloads button:hover {
    transform: scale(1.05);
}

button img {
    width: 220px;
}

.smartphone {
    width: 300px;
}

@media only screen and (max-width: 850px) {
    .landing {
        flex-direction: column;
        height: auto;
    }

    .smartphone {
        margin: 80px 0;
    }
}

@media only screen and (max-width: 580px) {
    .hero {
        margin: 0 40px;
        width: initial;
    }

    .downloads {
        flex-direction: column;
        align-items: center;
    }

    .downloads button {
        margin: 10px 0;
    }
}